$numeros: 1 2 3 4 5 6 7 8;
$filas: primera segunda tercera cuarta quinta sexta septima octava;
$grid-area: top / start / 8 / end 4 / 2 / auto / 5 6 / start / auto / 2 7 / start / auto / 4 8 / 4 / auto / 6 3 / 14 / auto / end 4 / 17 / auto / 20 5 / 14 / auto / 17;
$background-color: #5469d4 #e3e8ee #5469d4 #e3e8ee;
$primera-animacion:animationLeftRight 2s ease-in-out infinite;
$segunda-animacion:animationLeftRight 3s ease-in-out infinite;
$tercera-animacion:animationRightLeft 2s ease-in-out infinite;
$cuarta-animacion:animationLeftRight 4s ease-in-out infinite;
$animaciones:$primera-animacion  $segunda-animacion $tercera-animacion $cuarta-animacion;
.navbar {
    background-color: #0646f6;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.nav-item {
    font-size: 1.2rem;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.carousel-item {
    height: 500px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    color: white;

    h5 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2rem;
    }
}

.section-uno {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;

    .article-izquierda {
        font-size: 20px;
        width: 72%;
        display: inline-block;
        margin-top: 80px;

        header {
            h1 {
                margin-left: 25px;
            }

            p {
                margin-left: 30px;
            }
        }
    }

    .article-derecha {
        display: inline-block;
        width: auto;
        border: 1px solid #000;
        margin-left: 10px;
    }
}

.section-dos {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;

    .article-izquierda {
        display: inline-block;
        margin-left: 20px;
        width: 70%;

    }

    .article-derecha {
        font-size: 20px;
        display: inline-block;
        width: auto;
        margin-left: 20px;
    }
}

footer {
    background-color: #0646f6;
    font-size: 14px;

}

.titulos {
    font-size: 30px;
    color: #0646f6;
}

h1 {
    color: #0646f6 !important;
}

.card-title.titulo-chef:hover {
    text-decoration: underline;
}

.card-title {
    color: #0646f6;
}

body.margin-si {
    padding-top: 70px;
}

.row {
    width: 100%;
}

.empleado {
    margin-left: 15px;
}

.contenedor-button {
    display: flex;
    justify-content: center;
}

.my-button {
    background-color: #6597fa;
    /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.my-button:hover {
    background-color: #6037f6;
    /* Dark green */
}

.perfil-derecha {
    margin-top: 100px;
}

.h {
    font-size: 22px;
}


//LOGIN
.contenedor-login {
    box-sizing: border-box;
    padding-top: 24px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-grow: 1;
    z-index: 9;

    .contenedor-sesion {
        box-sizing: border-box;
        padding-top: 48px;
        padding-bottom: 24px;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
    }

    div {

        .formulario {
            margin: auto;
            width: 100%;
            max-width: 448px;
            background: white;
            border-radius: 4px;
            box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;

            .titulo {
                padding: 48px;

                span {
                    padding-bottom: 15px;
                }

                form {
                    .field {
                        padding-bottom: 24px;


                    }

                    .boton-enviar {
                        padding-bottom: 24px;
                    }
                }
            }
        }
    }
}

.login-root {
    background: #fff;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    .contenedor {
        box-sizing: border-box;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100vh;
        flex-grow: 1;

        .loginbackground {
            min-height: 692px;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            z-index: 0;
            overflow: hidden;
            background-color: #ffffff;
            padding-top: 64px;

            .loginbackground-gridContainer {
                @each $numero in $numeros {
                    .#{nth($filas, $numero)}-fila {
                        box-sizing: border-box;
                        display: flex;
                        grid-area: nth($grid-area, $numero);

                        div {
                            box-sizing: border-box;
                            flex-grow: 1;

                            @if $numero==1 {
                                background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%);
                            }

                            @else if $numero==2 or $numero==8 {
                                box-shadow: inset 0 0 0 2px #e3e8ee;
                                animation: $segunda-animacion;
                            }

                            @else if $numero==3 {
                                background-color: #212d63;
                            }

                            @else if $numero==4 or $numero== 5 or $numero== 6 or $numero== 7{
                                background-color: nth($background-color, $numero - 3);
                                animation: nth($animaciones, $numero - 3);
                            }
                        }
                    }
                }
            }
        }
    }
}